.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: var(--cl-background-default);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    span {
        text-decoration: none;
        color: #333;
    }
    .topbarLeft {
        flex: 3;
        .logo {
            font-size: 24px;
            margin-left: 20px;
            font-weight: bold;
            background: var(--cl-gradient-default);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;
        }
    }
    .topbarCenter {
        flex: 5;
        .searchbar {
            width: 100%;
            height: 30px;
            background-color: var(--cl-background-default);
            border: 1px solid var(--cl-primary-default);
            border-radius: 30px;
            display: flex;
            align-items: center;
            .searchIcon {
                font-size: 20px !important;
                margin-left: 10px;
                color: var(--cl-primary-default);
            }
            .searchInput {
                margin-left: 10px;
                border: none;
                width: 90%;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .topbarRight {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #333;
        font-weight: bold;
        .topbarLinks {
            margin-right: 10px;
            font-size: 14px;
            cursor: pointer;
            &:active {
                color: var(--cl-primary-default);
            }
        }
        .topbarIcons {
            display: flex;
            .topbarIconItem {
                margin-right: 15px;
                cursor: pointer;
                position: relative;
                .topbarIconBadge {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
            }
        }
        .topbarImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}